.menu {
    @include flex(row, center, flex-start);

    &__item {
        margin-right: 40px;
    }

    &__link {
        text-decoration: none;
        font-size: 15px;
        @include font-weight('medium');
        text-transform: uppercase;
        transition: all .2s linear;

        &:hover {
            color: $primary-color;
        }
    }
}

.sub-menu {
    position: absolute;
    opacity: 0;
    z-index: -1;
    transition: all .3s linear;
    top: 100%;
    visibility: hidden;
    left: 0;
    transform: translateY(10px);
    padding-top: 34px;

    &__link {
        white-space: nowrap;
        margin-bottom: 12px;
        font-size: 15px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__wrapper{
        padding: 30px;
        background: $white-color;
        box-shadow: 7px 7px 10px 0 rgba($black-color, .1);
        @include flex(column, flex-start, flex-start);
        &_s{
            @include flex(row, flex-start, flex-start);
        }
    }
    &__col{
        @include flex(column, flex-start, flex-start);
        width: 50%;
        flex: 1 1 auto;
        margin-right: 50px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__name{
        margin: 0;
        font-size: 18px;
        @include font-weight('medium');
        margin-bottom: 15px;
    }
}

.has-children {
    position: relative;
}

.no-touchevents {
    & .has-children {
        &:hover {
            & .sub-menu {
                opacity: 1;
                z-index: 999;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
}