.testimonial-item{
    padding: 30px 0;
    border-top: 1px solid rgba($black-color, .1);
    position: relative;
    &:first-child{
        border-top: none;
        padding-top: 0;
        & .testimonial-item{
            &__stars{
                top: 5px;
            }
        }
    }
    &__name{
        margin: 0;
        font-size: 18px;
        @include font-weight('medium');
    }
    &__date{
        margin: 0;
        font-size: 13px;
        color: $gray-dark-color;
        margin-top: 5px;
    }
    &__text{
        margin-top: 15px;
    }
    &__stars{
        position: absolute;
        top: 35px;
        right: 0;
        z-index: 3;
    }
}