.breadcrumbs{
    @include flex(row, center, flex-start);
    &__item{
        text-decoration: none;
        font-size: 13px;
    }
    &__sep{
        margin: 0 5px;
    }
    &__name{
        margin: 0;
    }
}