.tabs{
    &__header{
        @include flex(row, center, flex-start);
    }
    &__btn{
        font-size: 15px;
        padding: 15px 30px;
        &_active{
            background: $gray-color;
        }
    }
    &__grid{
        background: $gray-color;
        padding: 10px;
    }
    &__section{
        display: none;
        &_opened{
            @include flex(row, center, flex-start);
        }
    }
    &__method{
        margin-left: 30px;
    }
}