.pagination{
    @include flex(row, center, center);
    &__item{
        text-decoration: none;
        width: 30px;
        height: 30px;
        @include flex(row, center, center);
        margin: 0 2.5px;
        &_active{
            background: $primary-color;
        }
    }
    &__arrow{
        &-prev{
            margin-right: 15px;
        }
        &-next{
            margin-left: 15px;
        }
    }
}