.custom-tabs{
    &__header{
        @include flex(row, center, flex-start);
        border-bottom: 1px solid rgba($black-color, .1);
    }
    &__btn{
        font-size: 14px;
        text-transform: uppercase;
        @include font-weight('medium');
        margin-left: 10px;
        padding: 15px 20px;
        border: 1px solid transparent;
        border-bottom: none;
        border-radius: 3px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background: $gray-color;
        transition: all .2s linear;
        &_active{
            background: $white-color;
            position: relative;
            border-color: rgba($black-color, .1);
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background: $white-color;
                bottom: -1.5px;
                left: 0;
            }
        }
    }
    &__section{
        display: none;
        padding-top: 30px;
        &_opened{
            display: block;
        }
    }
}