.slider{
    position: relative;
    &__item{
        position: relative;
        text-decoration: none;
    }
    &__info{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include flex(row, center, center);
        background: rgba($black-color, .4);
    }
    &__title{
        margin: 0;
        font-size: 54px;
        color: $white-color;
        margin-bottom: 10px;
        @include font-weight('medium');
    }
    &__text{
        margin: 0;
        color: $white-color;
        font-size: 18px;
        @include font-weight('medium');
    }
    &__btn{
        margin-top: 40px;
        font-size: 15px;
        width: 100%;
        max-width: 180px;
        height: 55px;
        line-height: 55px;
    }
    &__pagination{
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        @include flex(row, center, center);
        z-index: 5;
    }
    &__arrow{
        position: absolute;
        width: 40px;
        height: 40px;
        display: none;
        top: 50%;
        margin-top: -20px;
        z-index: 3;
        &-prev{
            left: calc( ( 100% - 1170px ) / 2 - 75px );
        }
        &-next{
            right: calc( ( 100% - 1170px ) / 2 - 75px );
        }
    }
}