// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
//Font
$font: 'Roboto';
$title-font: '';
$base-font-size: 16px;
//Url
$base-path: '../';
//Colors
$white-color: #fff;
$black-color: #030303;
$primary-color: #ffcc00;
$second-color: #d61b50;
$gray-color: #f7f7f7;
$gray-color-darker: #dedede;
$gray-dark-color: #707070;
$green-color: #24ac00;
$blue-color: #0279cd;
$dark-color: #212121;
$error-color: #ff0000;
//Labels
$label-1-color: #d61b50;
$label-2-color: #2aacf6;
$label-3-color: #ffc64b;
$label-4-color: #f73629;
//Font weight
$font-weight: (
    'thin': 100,
    'light': 300,
    'normal': normal,
    'medium': 500,
    'bold': bold,
    'black': 900
);
