.filter-radio{
    display: inline-block;
    cursor: pointer;
    flex-shrink: 0;
    padding: 20px;
    transition: all .2s linear;
    position: relative;
    &_s{
        padding: 20px 40px;
    }
    &:hover{
        background: rgba($primary-color, .7);
    }
    &__input{
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        z-index: -1;
        visibility: hidden;
        &:checked + .filter-radio__layer{
            opacity: 1;
        }
    }
    &__layer{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: $primary-color;
        z-index: 1;
        top: 0;
        left: 0;
    }
    &__icon{
        width: 55px;
        height: 55px;
        margin: 0 auto;
        @include flex(row, center, center);
        position: relative;
        z-index: 2;
    }
    &__name{
        margin: 0;
        text-align: center;
        font-size: 15px;
        margin-top: 10px;
        position: relative;
        z-index: 2;
    }
}