.sort {
    &__name {
        margin: 0;
        font-size: 15px;
        position: relative;
        padding-right: 10px;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: 3px solid transparent;
            border-top-color: $black-color;
            top: 50%;
            right: 0;
            margin-top: -1.5px;
        }

        & span {
            @include font-weight('bold');
            margin-left: 5px;
        }
    }

    &__list {
        position: absolute;
        z-index: -1;
        top: 100%;
        min-width: 100%;
        left: 0;
        opacity: 0;
        transform: translate3d(0, -5px, 0);
        transition: transform .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        box-shadow: 3px 3px 30px 0 rgba($black-color, .07);
        will-change: transform;

        &-wrapper {
            padding: 20px 25px;
            padding-top: 15px;
            background: $white-color;
            @include flex(column, flex-start, flex-start);

            &_s {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

    &__value {
        text-decoration: none;
        font-size: 15px;
        margin-bottom: 10px;
        white-space: nowrap;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        &-input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;

            &:checked {
                &+.sort__value-link {
                    &::after {
                        opacity: 1;
                    }
                    &_s{
                        &::after{
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &-link {
            margin: 0;
            padding-left: 20px;

            &_s {
                position: relative;
                font-size: 15px;

                &::before {
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border: 1px solid $primary-color;
                    top: 0;
                    left: 0;
                }

                &::after{
                    content: '';
                    position: absolute;
                    width: 7px;
                    height: 7px;
                    background: $primary-color;
                    top: 4px;
                    left: 4px;
                    opacity: 0;
                }
            }
        }
    }

    &__grid {
        position: relative;

        &:hover {
            & .sort__list {
                opacity: 1;
                transform: translate3d(0, 0, 0);
                z-index: 3;
            }
        }
    }
}

label.sort {
    &__value {
        cursor: pointer;
    }
}