.btn{
    text-decoration: none;
    display: inline-block;
    padding: 0 30px;
    height: 45px;
    line-height: 45px;
    background: $primary-color;
    transition: all .2s linear;
    font-size: 13px;
    @include font-weight('medium');
    text-transform: uppercase;
    text-align: center;
    &:hover{
        background: darken($primary-color, 3%);
    }
}