// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.link {
    position: relative;
    text-decoration: none;
    line-height: 1.2;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: $primary-color;
        left: 0;
        bottom: 0;
        opacity: 0;
        transition: all .2s linear;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }
}

.text-overflow {
    position: relative;

    // &::after {
    //     content: '';
    //     position: absolute;
    //     width: 100%;
    //     height: 75px;
    //     background: linear-gradient(to top, rgba($white-color, .95), rgba($white-color, 0));
    //     left: 0;
    //     bottom: 0;
    //     opacity: 1;
    //     transition: all .2s linear;
    // }
    // &_opened {
    //     max-height: none;
    //     overflow: visible;

    //     &::after {
    //         opacity: 0;
    //     }
    // }
}

.show-more {
    text-decoration: none;
    color: $blue-color;
    font-size: 13px;
    border-bottom: 1px solid $blue-color;
    margin-top: 10px;
    transition: all .2s linear;

    &:hover {
        border-color: transparent;
    }
}

.title {
    margin: 0;
    font-size: 24px;
    @include font-weight('medium');
}

.text {
    & p {
        margin: 0;
        line-height: 1.42;
        font-size: 15px;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    & ol {
        margin: 0;
        padding: 0;
        list-style: none;
        counter-reset: item;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        & li {
            font-size: 15px;
            line-height: 1.42;
            position: relative;

            &::before {
                counter-increment: item;
                content: counters(item, "") ") ";
                font-size: 15px;
            }
        }
    }
    & h2, h3{
        font-size: 24px;
        margin: 0;
        @include font-weight('medium');
        margin: 25px 0;
        &:first-child{
            margin-top: 0;
        }
    }
    & h4, h5, h6{
        font-size: 20px;
        margin: 0;
        @include font-weight('medium');
        margin: 23px 0;
        &:first-child{
            margin-top: 0;
        }
    }
}

.is-locked {
    overflow: hidden;
    max-height: 100vh;

    & body {
        overflow: hidden;
        max-height: 100vh;
    }
}