.blog-item{
    &__img{
        width: 100%;
        height: 240px;
        margin-bottom: 30px;
    }
    &__title{
        margin: 0;
        line-height: 1.3;
        font-size: 18px;
        @include font-weight('medium');
        text-decoration: none;
        margin-bottom: 10px;
    }
    &__text{
        margin: 0;
        font-size: 15px;
        line-height: 1.42;
        margin-bottom: 15px;
    }
    &__author{
        margin-top: 25px;
        @include flex(row, center, flex-start);
        &-img{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            flex-shrink: 0;
            margin-right: 10px;
        }
        &-name{
            margin: 0;
            font-size: 13px;
            @include font-weight('medium');
        }
        &-date{
            margin: 0;
            font-size: 13px;
            color: $gray-dark-color;
            @include font-weight('medium');
            margin-left: 10px;
        }
    }
}