.radio{
    cursor: pointer;
    position: relative;
    display: inline-block;
    &__input{
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        top: 0;
        left: 0;
        z-index: -1;
        &:checked + .radio__name{
            &::after{
                opacity: 1;
            }
            &::before{
                border-color: $primary-color;
            }
        }
    }
    &__name{
        padding-left: 35px;
        font-size: 15px;
        margin: 0;
        @include font-weight('medium');
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid darken($gray-color, 5%);
            left: 0;
            top: -2px;
            transition: all .2s linear;
        }
        &::after{
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $primary-color;
            left: 5px;
            top: 3px;
            transition: all .2s linear;
            opacity: 0;
        }
        &:hover{
            &::before{
                border-color: $primary-color;
            }
        }
    }
}