.modal{
    box-shadow: none;
    background: $white-color;
    border-radius: 0;
    max-width: 440px;
    & a.close-modal{
        width: 20px;
        height: 20px;
        top: auto;
        bottom: calc( 100% + 10px );
        right: auto;
        left: calc( 100% + 10px );
        background: icon('icon-close.svg') no-repeat center center;
        transition: all .2s linear;
        &:hover{
            transform: rotate(90deg);
        }
    }
    &__title{
        margin: 0;
        text-align: center;
        font-size: 24px;
        @include font-weight('medium');
        margin-bottom: 30px;
        &_s{
            margin-bottom: 10px;
        }
    }
    &__note{
        margin: 0;
        margin-bottom: 30px;
        font-size: 15px;
        text-align: center;
    }
    &__options{
        @include flex(row, center, flex-start);
    }
    &__option{
        font-size: 13px;
        color: $blue-color;
        transition: all .2s linear;
        &:hover{
            text-decoration: none;
        }
        &:last-child{
            margin-left: auto;
        }
    }
    &__icon{
        @include flex(row, center, center);
        margin-bottom: 25px;
    }
    &__social{
        @include flex(column, center, flex-start);
        margin-top: 35px;
        &-name{
            margin: 0;
            font-size: 15px;
            margin-bottom: 10px;
        }
        &-grid{
            @include flex(row, center, center);
        }
        &-item{
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}

.default-modal{
    padding: 40px;
}

.blocker{
    z-index: 9999;
    background: rgba($black-color, .5);
}

.quick-modal{
    max-width: 1000px;
    padding: 40px;
    &__product{
        @include flex(row, flex-start, flex-start);
    }
    &__col{
        width: 50%;
        flex: 1 1 auto;
        margin-right: 30px;
        &:last-child{
            margin-right: 0;
        }
    }
}

.points-modal{
    max-width: 825px;
}