.basket-sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    visibility: hidden;
    transition: all .2s linear;
    opacity: 0;
    &_opened{
        opacity: 1;
        visibility: visible;
        z-index: 9999;
    }
    &__grid{
        width: 350px;
        transform: translateX(350px);
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        background: $white-color;
        &_opened{
            transform: translateX(0);
        }
    }
    &__header{
        padding: 20px;
        padding-right: 50px;
        position: relative;
        background: $gray-color;
    }
    &__title{
        margin: 0;
        font-size: 30px;
        @include font-weight('medium');
    }
    &__close{
        position: absolute;
        top: 50%;
        width: 20px;
        height: 20px;
        @include flex(row, center, center);
        margin-top: -10px;
        right: 20px;
        & svg{
            & path{
                transition: all .2s linear;
            }
        }
        &:hover{
            & svg{
                & path{
                    fill: $primary-color;
                }
            } 
        }
    }
    &__list{
        padding: 0 20px;
        flex: 1 1 auto;
        max-height: 100%;
        overflow-y: auto;
    }
    &__footer{
        padding: 0 20px;
        padding-top: 20px;
    }
    &__total{
        text-align: right;
    }
    &__btn{
        margin-top: 30px;
        width: 100%;
    }
    &__wrapper{
        @include flex( column, stretch, flex-start );
        height: 100%;
        padding-bottom: 25px;
    }
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($black-color, .5);
}

@media screen and (-webkit-min-device-pixel-ratio: 2){
    .basket-sidebar{
        &__wrapper{
            padding-bottom: 0;
        }
        &__grid{
            padding-bottom: 120px;
        }
    }
}