.item{
    @include flex(column, stretch, flex-start);
    height: 100%;
    position: relative;
    &__options{
        @include flex(row, center, center);
        position: absolute;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: all .2s linear;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba($white-color, .8);
    }
    &__layer{
        position: relative;
        width: 100%;
        height: 255px;
        background: $gray-color;
        padding: 15px;
        @include flex(row, center, center);
        margin-bottom: 20px;
        &:hover{
            & .item__options{
                opacity: 1;
                visibility: visible;
                opacity: 1;
                z-index: 5;
            }
            & .item__option{
                transform: translateY(0);
            }
        }
    }
    &__option{
        @include flex(row, center, center);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $primary-color;
        margin-right: 10px;
        transition: all .2s linear;
        transform: translateY(5px);
        &:last-child{
            margin-right: 0;
        }
    }
    &__label{
        margin: 0;
        position: absolute;
        font-size: 11px;
        text-transform: uppercase;
        color: $white-color;
        @include font-weight('bold');
        top: 10px;
        left: 10px;
        z-index: 3;
        padding: 0 10px;
        height: 20px;
        line-height: 21px;
        &_1{
            background: $label-1-color;
        }
        &_2{
            background: $label-2-color;
        }
        &_3{
            background: $label-3-color;
        }
        &_4{
            background: $label-4-color;
        }
    }
    &__name{
        margin: 0;
        text-align: center;
        text-decoration: none;
        transition: all .2s linear;
        margin-bottom: 10px;
        padding: 0 25px;
        &:hover{
            color: $primary-color;
        }
    }
    &__price{
        margin: 0;
        font-size: 18px;
        @include font-weight('medium');
        text-align: center;
        margin-top: auto;
    }
    &__remove-btn{
        @include flex( row, center, center );
        position: absolute;
        z-index: 10;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        right: 10px;
        top: 10px;
        background: $gray-color-darker;
        transition: background .55s cubic-bezier(0.215, 0.610, 0.355, 1);
        &:hover{
            background: $black-color;
            & svg{
                & path{
                    fill: $white-color;
                }
            }
        }
    }
}