.sca-label{
    position: absolute;
    top: 94%;
    right: 10%;
    z-index: 5;
    &__img{
        max-width: 50px;
    }
}

@media screen and ( max-width: 575px ){
    .sca-label{
        &__img{
            max-width: 35px;
        }
    }
}