.header{
    background: $white-color;
    position: relative;
    &__wrapper{
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
    }
    &__top{
        @include flex(row, center, flex-end);
        padding: 10px 0;
        border-bottom: 1px solid rgba($black-color, .1);
    }
    &__link{
        text-decoration: none;
        font-size: 13px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            right: calc( 100% + 5px );
            top: 50%;
            width: 12px;
            height: 12px;
            margin-top: -6px;
            background: icon('icon-phone.svg') no-repeat center center;
        }
    }
    &__bottom{
        padding: 8px 0;
        @include flex(row, center, flex-start);
        border-bottom: 1px solid rgba($black-color, .1);
    }
    &__logo{
        max-width: 150px;
    }
    &__menu{
        margin-left: auto;
    }
    &__favorites{
        margin-right: 15px;
    }
    &__options{
        @include flex(row, center, flex-start);
        margin-left: auto;
    }
}