.gallery{
    &__wrapper{
        width: 100%;
        height: 445px;
        background: $gray-color;
        @include flex(row, center, center);
        padding: 20px;
        position: relative;
    }
    &__main{
        z-index: 3;
    }
    &__zoom-icon{
        position: absolute;
        right: 20px;
        width: 20px;
        height: 20px;
        bottom: 20px;
        z-index: 5;
    }
    &__to-favorites{
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 5;
    }
    &__thumbs{
        margin-top: 10px;
        padding: 0 20px;
        position: relative;
    }
    &__img{
        margin: 0 auto;
    }
}

.thumbs{
    &__item{
        height: 70px;
        width: 70px;
        border: 1px solid transparent;
        background: $gray-color;
        @include flex(row, center, center);
        padding: 10px;
        transition: all .2s linear;
        cursor: pointer;
        &_active{
            border-color: $primary-color;
        }
    }
    &-arrow{
        width: 15px;
        height: 15px;
        position: absolute;
        top: 50%;
        margin-top: -7.5px;
        @include flex(row, center, center);
        &-prev{
            left: 0;
        }
        &-next{
            right: 0;
        }
    }
}