.footer{
    background: $dark-color;
    &__top{
        padding: 25px 0;
        padding-top: 35px;
        border-bottom: 1px solid rgba($white-color, .1);
    }
    &__bottom{
        padding: 10px 0;
    }
    &__link{
        @include flex( row, center, flex-start );
        text-decoration: none;
        & svg{
            margin-right: 10px;
        }
        &:hover{
            color: $primary-color;
        }
    }
    &__logo{
        max-width: 120px;
    }
    &__name{
        margin: 0;
        font-size: 14px;
        @include font-weight('medium');
        text-transform: uppercase;
        color: $white-color;
        margin-top: 8px;
        margin-bottom: 35px;
    }
    &__col{
        @include flex(column, flex-start, flex-start);
    }
    &__text{
        margin: 0;
        font-size: 15px;
        color: rgba($white-color, .3);
        line-height: 1.42;
        margin-bottom: 12px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__sca-logo{
        max-width: 95px;
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media screen and ( max-width: 991px ){
    .footer{
        &__sca-logo{
            margin: 0;
            margin-top: 15px;
        }
    }
}