.b-method{
    @include flex( row, center, flex-start );
    align-self: center;
    &__name{
        margin: 0;
        font-size: 15px;
        cursor: pointer;
    }
    &__item{
        position: relative;
    }
    &__input{
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        visibility: hidden;
        &:checked{
            & + .method__name{
                @include font-weight( 'medium' );
            }
        }
    }
    &__switcher{
        margin: 0 10px;
        width: 40px;
        height: 24px;
        border-radius: 30px;
        background: $primary-color;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $white-color;
            transition: transform .3s cubic-bezier(0.215, 0.610, 0.355, 1);
            top: 50%;
            margin-top: -10px;
            left: 0;
        }
        &_l{
            &::after{
                transform: translate3d(3px, 0, 0);
            }
        }
        &_r{
            &::after{
                transform: translate3d(17px, 0, 0);
            }
        }
    }
}