.radio-item{
    cursor: pointer;
    display: inline-block;
    position: relative;
    &__name{
        height: 30px;
        margin: 0;
        line-height: 30px;
        padding: 0 10px;
        font-size: 11px;
        border-radius: 2px;
        text-transform: uppercase;
        background: $gray-color;
        transition: all .2s linear;
        &:hover{
            background: darken($gray-color, 5%);
        }
    }
    &__input{
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        top: 0;
        left: 0;
        z-index: -1;
        &:checked + .radio-item__name{
            background: $primary-color;
        }
    }
}