.stars{
    @include flex(row, center, flex-start);
    &__name{
        margin: 0;
        font-size: 15px;
        margin-right: 10px;
    }
    &__grid{
        @include flex(row, center, flex-start);
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
        top: -3px;
    }
    &__wrapper{
        @include flex(row, center, flex-start);
    }
    &__icon{
        width: 15px;
        height: 15px;
        margin-right: 3px;
        &:last-child{
            margin-right: 0;
        }
        &.selected{
            & svg{
                & path{
                    fill:$primary-color;
                }
            }
        }
    }
    &__value{
        margin: 0;
        font-size: 20px;
        margin-left: 10px;
    }
    &__item{
        width: 15px;
        height: 15px;
        @include flex(row, center, center);
        margin-right: 3px;
        cursor: pointer;
        & svg{
            & path{
                fill: #ddd;
            }
        }
        &.selected{
            & svg{
                & path{
                    fill: $primary-color;
                }
            }
        }
        &.hover{
            & svg{
                & path{
                    fill: $primary-color;
                }
            }
        }
        &:last-child{
            margin-right: 0;
        }
    }
}