.reading{
    &__header{
        padding: 5px 0;
        @include flex( row, center, flex-start );
        border-top: 1px solid $gray-color-darker;
        border-bottom: 1px solid $gray-color-darker;
        & svg{
            margin-right: 10px;
        }
    }
    &__time{
        margin: 0;
        font-size: 15px;
    }
    &__btn{
        margin-left: auto;
        &_disabled{
            display: none;
        }
    }
    &__grid{
        background: $gray-color;
        padding: 40px;
        margin-top: 15px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-bottom-color: $gray-color;
            left: 50%;
            margin-left: -5px;
            bottom: 100%;
        }
    }
    &__form{
        max-width: 350px;
        margin: 0 auto;
        &-btn{
            display: block;
            margin: 0 auto;
            width: 100%;
            max-width: 180px;
            margin-top: 40px;
        }
        &-input{
            background: $white-color;
        }
    }
    &__title{
        margin: 0;
        text-align: center;
        font-size: 30px;
        @include font-weight( 'medium' );
        margin-bottom: 30px;
    }
    &__status{
        margin: 0;
        display: none;
        margin-left: auto;
        color: $green-color;
        font-size: 15px;
        @include font-weight( 'bold' );
        &_active{
            @include flex( row, center, flex-start );
        }
    }
}