.basket-item{
    @include flex(row, stretch, flex-start);
    padding: 30px 0;
    border-bottom: 1px solid rgba($black-color, .1);
    &__remove{
        width: 14px;
        height: 16px;
        align-self: center;
        flex-shrink: 0;
        margin-right: 15px;
        transition: all .2s linear;
        &:hover{
            transform: translateY(-5px);
        }
    }
    &__img{
        width: 85px;
        height: 85px;
        background: $gray-color;
        flex-shrink: 0;
        @include flex(row, center, center);
        padding: 10px;
        margin-right: 20px;
    }
    &__name{
        line-height: 1.3;
        margin: 0;
        font-size: 15px;
        @include font-weight('medium');
        text-decoration: none;
        transition: all .2s linear;
        &:hover{
            text-decoration: underline;
        }
    }
    &__option{
        margin: 0;
        margin-top: 8px;
        font-size: 13px;
    }
    &__price{
        margin: 0;
        margin-top: 8px;
        font-size: 18px;
        @include font-weight('medium');
    }
}