.share{
    position: relative;
    &__grid{
        position: absolute;
        opacity: 0;
        padding: 30px;
        width: 260px;
        box-shadow: 3px 3px 30px 0 rgba($black-color, .3);
        left: 50%;
        margin-left: -130px;
        top: calc( 100% + 10px );
        background: $white-color;
        @include flex(column, center, center);
        &::after{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: 8px solid transparent;
            border-bottom-color: $white-color;
            left: 50%;
            margin-left: -5px;
            top: -16px;
        }
        &_opened{
            opacity: 1;
        }
        &_s{
            top: auto;
            bottom: calc( 100% + 15px );
            &::after{
                border-color: transparent;
                border-top-color: $white-color;
                top: auto;
                bottom: -16px;
            }
            &.share__grid_opened{
                opacity: 1;
            }
        }
    }
    &__icon{
        & svg{
            & path{
                transition: all .2s linear;
            }
        }
        &:hover{
            & svg{
                & path{
                    fill: $primary-color;
                }
            }
        }
        &_active{
            & svg{
                & path{
                    fill: $primary-color;
                }
            }
        }
    }
    &__name{
        margin: 0;
        font-size: 15px;
        margin-bottom: 15px;
    }
    &__list{
        @include flex(row, center, center);
    }
    &__link{
        width: 40px;
        height: 40px;
        margin-right: 10px;
        transition: all .2s linear;
        &:hover{
            transform: rotate(15deg);
        }
        &:last-child{
            margin-right: 0;
        }
    }
}