.newsletter{
    background: $gray-color;
    padding: 50px 0;
    &__title{
        text-align: center;
        margin: 0;
        font-size: 15px;
        @include font-weight('normal');
        margin-bottom: 30px;
        & span{
            display: block;
            font-size: 30px;
            @include font-weight('medium');
        }
    }
    &__form{
        @include flex(row, stretch, flex-start);
    }
    &__input{
        flex: 1 1 auto;
        & input{
            width: 100%;
            height: 100%;
            background: $white-color;
        }
    }
    &__btn{
        flex-shrink: 0;
    }
}