.promocode{
    @include flex(row, stretch, flex-start);
    &__btn{
        flex-shrink: 0;
    }
    &__input{
        flex: 1 1 auto;
        & input{
            width: 100%;
            height: 100%;
            background: $gray-color;
        }
    }
}