.quantity{
    width: 125px;
    height: 45px;
    border: 1px solid darken($gray-color, 5%);
    padding: 10px;
    @include flex(row, stretch, flex-start);
    &__input{
        width: 33.333%;
        flex: 1 1 auto;
        padding: 0;
        font-size: 15px;
        color: $black-color;
        text-align: center;
    }
    &__btn{
        @include flex(row, center, center);
        width: 33.333%;
        flex: 1 1 auto;
        & svg{
            flex-shrink: 0;
        }
    }
}