p.error___p {
	color:red!important;
	margin-top: 28px;
}


.success___p, .success___p a {
	color: green!important;
}

input.is___error, textarea.is___error {
	border: 1px solid red!important;
}

.form___label input.is___error {
	border: none!important;
}

.form___checkbox:checked + .sort__value-link::after {
	opacity: 1;
}
.form___checkbox:checked + .sort__value-link_s::after {
	opacity: 1;
}

.sort__value-link_red::before {
	border: 1px solid red!important;
}

.is___process {
	opacity: 0.6!important;
}


.null___view {
	width: 0!important;
	height: 0!important;
	margin: 0!important;
	padding: 0!important;
	opacity: 0!important;
	visibility: hidden!important;
}


/* Запрет выделения */
.some___class {
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}


div.more_button_block {
	width:100%;
	text-align: center;
	margin: 30px 0;
}

.reviewsLoadBlock {
	width:100%;
	text-align: center;
	margin: 30px 0;
}

div.no___count_block {
	width:100%;
	text-align: center;
	margin: 80px 0 30px 0;
}
p.no___count {
	font-style: italic;
}

.active___link {
	text-decoration: underline;
}

.blog-results__col {
	margin-bottom: 50px;
}

.pay___block{
	 margin-top: 30px;
}

.btn.btn-primary {
    color:black;
}

.pickPointButton, .sdekPointButton {
	cursor:pointer;
	text-decoration:underline;
	color:blue;
}

.recaptcha___block {
	width:100%;
	margin: 20px 0 0 0;
}


.header__menu a {
	cursor:pointer;
}


.fav__count {
	display: none;
	position: absolute;
	padding: 3px 5px;
	margin: 0;
	top: -7px;
	right: -7px;
	border-radius: 30px;
	background: #d61b50;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
}




.product_subscribe__btn {
	margin-left: auto;
}
