.tag{
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    background: $gray-color;
    margin: 0;
    font-size: 11px;
    text-decoration: none;
    transition: all .2s linear;
    border-radius: 2px;
    margin-right: 5px;
    &:last-child{
        margin-right: 0;
    }
    &:hover{
        background: darken($gray-color, 5%);
    }
}