.checkbox{
    cursor: pointer;
    display: inline-block;
    position: relative;
    &__input{
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
        top: 0;
        left: 0;
        &:checked + .checkbox__name{
            &::after{
                opacity: 1;
            }
            &::before{
                border-color: $primary-color;
            }
        }
    }
    &__name{
        margin: 0;
        padding-left: 30px;
        font-size: 15px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            border: 1px solid rgba($black-color, .1);
            left: 0;
            top: 50%;
            margin-top: -10px;
        }
        &::after{
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            left: 5px;
            top: 50%;
            margin-top: -6px;
            background: icon('icon-tick.svg') no-repeat 50%;
            opacity: 0;
            transition: all .2s linear;
        }
    }
}