.form{
    &__row{
        position: relative;
        margin-bottom: 10px;
        &::after{
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            top: 50%;
            margin-top: -10px;
            right: 20px;
        }
        &:last-child{
            margin-bottom: 0;
        }
        &_s{
            height: 100%;
        }
        &_double{
            @include flex(row, stretch, flex-start);
            & input{
                width: 50%;
                flex: 1 1 auto;
                margin-right: 10px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
    &__input{
        width: 100%;
        height: 50px;
        background: $gray-color;
        padding: 0 20px;
        padding-right: 50px;
        border: 1px solid transparent;
        &.error{
            border-color: $error-color;
            color: $error-color;
            font-size: 13px;
        }
    }
    &__textarea{
        display: block;
        height: 120px;
        padding: 15px 20px;
        &_s{
            height: 100%;
        }
    }
    &__btn{
        width: 100%;
        margin-top: 15px;
        height: 50px;
        line-height: 50px;
    }
}

.icon-person{
    &::after{
        background: icon('icon-person.svg') no-repeat center center;
    }
}

.icon-tel{
    &::after{
        background: icon('icon-tel.svg') no-repeat center center;
    }
}

.icon-email{
    &::after{
        background: icon('icon-email.svg') no-repeat center center;
    }
}

.icon-pw{
    &::after{
        background: icon('icon-pw.svg') no-repeat center center;
    }
}