.callback{
    @include flex( column, flex-start, flex-start );
    &__title{
        margin: 0;
        font-size: 18px;
        @include font-weight( 'medium' );
        margin-bottom: 5px;
    }
    &__radio{
        margin-top: 10px;
    }
}