.search-btn {
    width: 16px;
    height: 16px;
    @include flex(row, center, center);

    & path {
        transition: all .2s linear;
    }

    &:hover {
        & svg {
            & path {
                fill: $primary-color;
            }
        }
    }
}

.mobile-menu-btn {
    display: none;
    width: 23px;
    height: 23px;
    margin-left: 15px;
    cursor: pointer;
}

.favorites {
    position: relative;
    width: 20px;
    height: 19px;
    @include flex(row, center, center);
    transition: all .2s linear;

    & svg {
        & path {
            transition: all .2s linear;
        }
    }

    &:hover {
        transform: translateY(-3px);

        & svg {
            & path {
                fill: $primary-color;
            }
        }
    }
}

.basket {
    position: relative;
    width: 16px;
    height: 20px;
    @include flex(row, center, center);
    transition: all .2s linear;

    &__count {
        position: absolute;
        padding: 3px 5px;
        margin: 0;
        top: -7px;
        right: -7px;
        border-radius: 30px;
        background: $second-color;
        font-size: 10px;
        @include font-weight('bold');
        color: $white-color;
    }

    & svg {
        & path {
            transition: all .2s linear;
        }
    }

    &:hover {
        transform: translateY(-3px);

        & svg {
            & path {
                fill: $second-color;
            }
        }
    }
}

.swiper-pagination {
    &-bullet {
        width: 8px;
        height: 8px;
        background: $white-color;
        opacity: 1;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }

        &-active {
            background: $primary-color;
        }
    }
}

.section {
    padding: 80px 0;

    &__title {
        margin: 0;
        text-align: center;
        font-size: 30px;
        @include font-weight('medium');
        margin-bottom: 30px;
    }
}

.why {
    background: $gray-color;

    &__title {
        margin: 0;
    }

    &__item {
        margin-top: 50px;
        padding: 0 30px;
    }

    &__icon {
        @include flex( row, center, center );
        width: 50px;
        height: 50px;
        margin: 0 auto;
        display: block;
        margin-bottom: 15px;
        & svg{
            max-width: 50px;
            max-height: 50px;
        }
    }

    &__name {
        margin: 0;
        font-size: 18px;
        text-align: center;
        @include font-weight('medium');
        margin-bottom: 20px;
    }

    &__text {
        text-align: center;
        margin: 0;
        font-size: 13px;
        line-height: 1.3;

        & a {
            text-decoration: none;
            color: $blue-color;
            display: inline;
            border-bottom: 1px solid $blue-color;

            &:hover {
                border-color: transparent;
            }
        }
    }
}

.copyright {
    margin: 0;
    text-align: center;
    font-size: 13px;
    color: rgba($white-color, .3);
}

.developer {
    @include flex(row, center, flex-start);
    margin: 0;
    font-size: 13px;
    color: rgba($white-color, .3);
    text-decoration: none;

    & img {
        max-width: 70px;
        margin-left: 10px;
    }
}

.product {
    &__title {
        margin-bottom: 30px;
    }

    &__text {
        & p {
            margin: 0;
            font-size: 15px;
            line-height: 1.42;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__form {
        margin-top: 35px;
    }

    &__price {
        margin: 0;
        margin-top: 35px;
        font-size: 13px;
        color: $gray-dark-color;
        text-decoration: line-through;

        & span {
            margin-left: 10px;
            display: inline-block;
            font-size: 24px;
            @include font-weight('medium');
            color: $black-color;
            text-decoration: none;
        }
    }

    &__btn {
        margin-right: 20px;
    }

    &__share {
        margin-left: 20px;
    }

    &__tabs {
        margin-top: 50px;
    }
}

.product-form {
    &__radio {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__footer {
        margin-top: 15px;
        @include flex(row, center, flex-start);
    }

    &__quantity {
        margin-right: 10px;
    }

    &__options {
        @include flex(column, flex-start, flex-start);
    }
}

.to-favorites {
    width: 40px;
    height: 40px;
    background: $primary-color;
    border-radius: 50%;
    @include flex(row, center, center);
}

.total {
    margin: 0;
    font-size: 15px;

    & span {
        font-size: 24px;
        margin-left: 10px;
        @include font-weight('medium');
    }
}

.template {
    padding-top: 20px;
}

.catalog {
    &__list {
        padding-bottom: 30px;
    }

    &__breadcrumbs {
        margin-bottom: 50px;
    }

    &__options {
        margin-bottom: 40px;
        position: relative;
    }

    &__col {
        margin-bottom: 40px;
    }

    &__pagination {
        border-bottom: 1px solid rgba($black-color, .1);
        padding-bottom: 70px;
    }

    &__sort {
        @include flex(row, center, flex-end);
        position: absolute;
        top: 0;
        right: 0;
    }

    &-results {
        &__col {
            margin-bottom: 25px;
        }
    }
}

.filter {
    &__reset {
        font-size: 13px;
        text-decoration: none;
        color: $blue-color;
        border-bottom: 1px solid $blue-color;
        transition: all .2s linear;
        margin-left: 20px;

        &:hover {
            border-color: transparent;
        }
    }
}

.accessories {
    &__sort {
        position: relative;
    }
}

.product-desc {
    list-style: none;
    padding: 0;
    margin: 0;

    &__item {
        @include flex(row, center, flex-start);
        padding: 15px 20px;

        &:nth-child(even) {
            background: $gray-color;
        }

        & p {
            margin: 0;
            font-size: 15px;
            width: 75%;
            @include font-weight('medium');

            &:first-child {
                width: 25%;
                @include font-weight('normal');
                flex-shrink: 0;
            }
        }
    }
}

.testimonials {
    &__btn {
        margin-top: 20px;
    }
}

.cart {
    padding-bottom: 80px;

    &__grid {
        position: relative;
    }

    &__gesture-icon {
        display: none;
        position: absolute;
        width: 25px;
        height: 25px;
        z-index: 5;
        top: -30px;
        right: 0;
    }
}

.cart-table {
    & tr {
        & th {
            background: $gray-color;
            font-size: 15px;
            @include font-weight('medium');
            padding: 15px 0;
            border-top: 1px solid darken($gray-color, 5%);
            border-bottom: 1px solid darken($gray-color, 5%);
            text-align: left;

            &:first-child {
                text-align: center;
            }
        }

        & td {
            padding: 30px 0;
            border-bottom: 1px solid darken($gray-color, 5%);
        }
    }

    &__options {
        @include flex(row, center, flex-start);
    }

    &__remove {
        margin-left: auto;
    }

    &__price {
        margin: 0;
        font-size: 18px;
        @include font-weight('medium');
    }

    &__product {
        @include flex(row, center, flex-start);
    }

    &__img {
        flex-shrink: 0;
        margin-right: 20px;
        max-width: 120px;
    }

    &__name {
        text-decoration: none;
        font-size: 15px;
        @include font-weight('medium');
    }

    &__text {
        margin: 0;
        font-size: 13px;
        margin-top: 10px;
    }
}

.cart-form {
    &__info {
        padding: 20px 0;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba($black-color, .1);
    }

    &__total {
        text-align: right;

        & p {
            margin: 0;
            font-size: 15px;
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
                margin-top: 20px;
            }

            & span {
                display: inline-block;
                @include font-weight('medium');
                width: 115px;
            }
        }
    }

    &__footer {
        padding-top: 40px;
    }

    &__options {
        padding: 50px 0;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba($black-color, .1);
    }

    &__col {
        @include flex(column, stretch, flex-start);

        &-name {
            margin: 0;
            font-size: 24px;
            @include font-weight('medium');
            margin-bottom: 30px;
        }
    }

    &__radio {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    &__btn{
        width: 100%;
    }
    &__callback{
        margin-bottom: 40px;
    }
}

.default-template {
    &__breadcrumbs {
        padding-bottom: 20px;
    }
}

.about {
    &__desc {
        padding-bottom: 0;
    }

    &__header {
        &-img {
            width: 100%;
        }
    }
}

.team {
    &__name {
        margin: 0;
        text-align: center;
        font-size: 18px;
        @include font-weight('medium');
        margin-top: 15px;
    }

    &__position {
        margin: 0;
        text-align: center;
        font-size: 13px;
        margin-top: 10px;
    }

    &__wrapper {
        background: $gray-color;
        border-top-right-radius: 120px;
        border-bottom-right-radius: 120px;
    }

    &__item {
        position: relative;
        z-index: 1;
        &.swiper-slide-active{
            z-index: 3;
        }
        &-info{
            padding: 60px 0;
            padding-bottom: 100px;
        }
        &-img {
            padding: 30px 0;
            // border-radius: 50%;

            &-wrapper {
                background: $white-color;
                border-radius: 50%;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: calc(100% + 150px);
                    height: calc(100% + 150px);
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    background: $white-color;
                    z-index: -1;
                }

                & img {
                    border-radius: 50%;
                }
            }
        }

        &-name {
            margin: 0;
            font-size: 30px;
            @include font-weight('medium');

            & span {
                display: block;
                font-size: 13px;
                @include font-weight('normal');
                margin-top: 3px;
            }
        }

        &-text {
            margin-top: 30px;

            & p {
                margin: 0;
                font-size: 17px;
                line-height: 1.42;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.contacts {
    &__item {
        @include flex(column, center, flex-start);
    }

    &__map {
        height: 440px;
        margin-bottom: 80px;
    }

    &__form {
        &-btn {
            display: block;
            width: 100%;
            max-width: 200px;
            margin: 0 auto;
            margin-top: 40px;
        }
    }

    &__icon {
        width: 40px;
        height: 40px;
        @include flex(row, center, center);
        margin: 0 auto;

        & img {
            max-width: 40px;
            max-height: 40px;
        }
    }

    &__name {
        margin: 0;
        font-size: 18px;
        text-align: center;
        @include font-weight('medium');
        margin-top: 25px;
    }

    &__value {
        margin: 0;
        text-align: center;
        font-size: 13px;
        margin-top: 20px;
        line-height: 1.42;

        & span {
            display: block;
        }
    }

    &__link {
        color: $blue-color;
        text-decoration: none;
        border-bottom: 1px solid $blue-color;
    }
}

.page {
    &__breadcrumbs {
        margin-bottom: 50px;
    }

    &__title {
        text-align: center;
        font-size: 30px;
        margin-bottom: 35px;
    }

    &__grid {
        padding-bottom: 70px;
    }
}

.brew {
    &__col {
        margin-bottom: 30px;
    }

    &__item {
        width: 100%;
        height: 240px;
        text-decoration: none;
        position: relative;
        overflow: hidden;
    }

    &__name {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include flex(row, center, center);
        margin: 0;
        font-size: 24px;
        text-align: center;
        color: $white-color;
        background: rgba($black-color, .4);
        @include font-weight('medium');
        transition: all .2s linear;

        &:hover {
            background: rgba($black-color, .6);
        }
    }
}

.blog {
    &__col {
        margin-bottom: 50px;
    }

    &__radio {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__form {
        margin-bottom: 40px;
        @include flex(row, center, flex-start);

        &-reset {
            margin-left: auto;
            text-decoration: none;
            color: $blue-color;
            font-size: 13px;
            border-bottom: 1px solid $blue-color;
            transition: all .2s linear;

            &:hover {
                border-color: transparent;
            }
        }
    }
}

.author {
    @include flex(row, center, flex-start);

    &__img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: 15px;
    }

    &__name {
        margin: 0;
        font-size: 18px;
        @include font-weight('medium');
    }

    &__date {
        margin: 0;
        font-size: 13px;
        color: $gray-dark-color;
        margin-top: 5px;
    }
}

.article {
    &__content {
        margin-top: 50px;
    }

    &__footer {
        margin-top: 40px;
        @include flex(column, flex-start, flex-start);
    }

    &__author {
        margin-top: 40px;
    }

    &__back-link {
        margin-top: 30px;
        text-decoration: none;
        font-size: 13px;
        color: $blue-color;
        border-bottom: 1px solid $blue-color;
        transition: all .2s linear;

        &:hover {
            border-color: transparent;
        }
    }
}

.template-404 {
    &__title {
        margin: 0;
        font-size: 350px;
        @include font-weight('semi');
        color: rgba($black-color, .1);
        position: relative;
        text-align: center;
        line-height: 1;
        overflow: hidden;

        & span {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translateY(-50%);
            font-size: 24px;
            color: $black-color;
        }
    }

    &__note {
        margin: 0;
        text-align: center;
        font-size: 15px;

        & a {
            color: $blue-color;
            text-decoration: none;
            border-bottom: 1px solid $blue-color;
            transition: all .2s linear;

            &:hover {
                border-color: transparent;
            }
        }
    }

    &__btn {
        display: block;
        width: 100%;
        max-width: 180px;
        margin: 0 auto;
        margin-top: 30px;
    }
}

.personal {
    &__breadcrumbs {
        padding-bottom: 20px;
    }

    &__grid {
        background: $gray-color;
        padding: 40px 0;
    }

    &__wrapper {
        padding: 40px 0;
        background: $white-color;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__table{
        margin-top: 15px;
    }

    &__list {
        &-item {
            margin: 0;
            padding: 15px 0;
            font-size: 15px;
            border-bottom: 1px solid rgba($black-color, .1);

            & a {
                font-size: 13px;
                color: $blue-color;
                border-bottom: 1px solid $blue-color;
                text-decoration: none;
                transition: all .2s linear;

                &:hover {
                    border-color: transparent;
                }
            }
        }
    }
}

.personal-menu {
    &__wrapper {
        @include flex(column, flex-start, flex-start);
    }

    &__link {
        font-size: 14px;
        @include font-weight('medium');
        text-decoration: none;
        text-transform: uppercase;
        margin-bottom: 20px;
        transition: all .2s linear;

        &:hover {
            color: $primary-color;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &_active {
            color: $primary-color;
        }
    }
}

.edit-personal-form {
    @include flex(column, stretch, flex-start);

    &__checkbox {
        margin-top: 30px;
    }

    &__btn {
        display: block;
        width: 100%;
        max-width: 200px;
        margin-top: 20px;
    }
}

.history-page {
    &__sale {
        margin: 0;
        @include flex(row, center, flex-start);
        font-size: 15px;

        & span {
            @include flex(row, center, flex-start);
            font-size: 24px;
            color: $second-color;
            margin-left: 10px;
            @include font-weight('bold');
        }
    }

    &__item {
        margin: 0;
        font-size: 15px;

        &:nth-child(2) {
            margin-top: 10px;
        }

        &_s {
            display: none;
            font-size: 13px;
            line-height: 1.52;
            white-space: nowrap;

            &-active {
                display: block;
            }
        }
    }

    &__link {
        text-decoration: none;
        font-size: 13px;
        color: $blue-color;
        border-bottom: 1px solid $blue-color;
        transition: all .2s linear;

        &:hover {
            border-color: transparent;
        }
    }

    &__table {
        margin-top: 20px;

        & table {
            border: 1px solid rgba($black-color, .1);
            min-width: 600px;

            & th {
                text-align: left;
                font-size: 15px;
                @include font-weight('medium');
                padding: 15px 30px;
                background: $gray-color;
                border-right: 1px solid rgba($black-color, .1);

                &:last-child {
                    border-right: none;
                }
            }

            & td {
                vertical-align: top;
                padding: 15px 30px;
                border-bottom: 1px solid rgba($black-color, .1);
                border-right: 1px solid rgba($black-color, .1);

                &:last-child {
                    border-right: none;
                    border-right: none;
                }
            }
        }
    }
}

.success-order {
    &__grid {
        padding: 80px 0;
        padding-top: 90px;
        &_hidden{
            display: none;
        }

        & p {
            margin: 0;
            font-size: 15px;
            line-height: 1.42;
            &.success-order__note{
                margin-left: 30px;
                font-size: 13px;
            }
        }
        & > p{
            &:last-child{
                margin-top: 30px;
            }
        }

        & a {
            text-decoration: none;
            color: $blue-color;
            border-bottom: 1px solid $blue-color;
            transition: all .2s linear;
            font-size: 15px;

            &:hover {
                border-color: transparent;
            }
            &.success-order__btn{
                color: $black-color;
                margin: 0;
                border: none;
            }
        }
    }
    &__payment-button{
        margin-top: 30px;
        @include flex( row, center, flex-start );
    }
}

.method {
    &__header {
        height: 440px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba($black-color, .4);
        }
    }

    &__title {
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 0 15px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        text-transform: uppercase;
        color: $white-color;
        font-size: 54px;
        z-index: 1;
    }

    &__grid {
        padding: 80px 0;
    }

    &__item {
        @include flex(column, center, flex-start);

        &-icon {
            margin: 0 auto;
            max-width: 40px;
            margin-bottom: 30px;
        }

        &-title {
            margin: 0;
            text-align: center;
            font-size: 18px;
            @include font-weight('medium');
            margin-bottom: 15px;
        }

        &-value {
            margin: 0;
            text-align: center;
            font-size: 13px;
            line-height: 1.72;
        }
    }

    &__steps {
        padding-bottom: 70px;
    }

    &__step {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }

        &-info {
            padding: 0 30px;

            &_s {
                text-align: right;
            }
        }

        &-name {
            margin: 0;
            font-size: 18px;
            @include font-weight('medium');
            margin-bottom: 15px;
        }

        &-text {
            margin: 0;
            font-size: 15px;
        }
    }
}

.js-item {
    cursor: pointer;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: 3px solid transparent;
        border-top-color: $black-color;
        top: 50%;
        margin-top: -1.5px;
        left: calc(100% + 3px);
    }
}

.ui-widget.ui-widget-content {
    border: none;
    background: $gray-color;
    border-top: 1px solid $white-color;
    @include font();
    font-size: 16px;
    color: $gray-dark-color;
    padding: 10px 15px;
    max-height: 300px;
    overflow-y: auto;
}

.ui-menu .ui-menu-item {
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }
}

.delivery-options {
    margin-top: 15px;

    &__item {
        @include flex(column, flex-start, flex-start);
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        & .delivery-options__text {
            display: none;
        }

        &_opened {
            & .delivery-options__text {
                display: block;
            }
        }
    }

    &__value {
        margin: 0;
        font-size: 13px;
        color: $black-color;
    }

    &__radio {
        margin-bottom: 10px;
    }

    &__link {
        font-size: 13px;
        color: $blue-color;
        margin-bottom: 5px;

        &::after {
            opacity: 1;
            background: $blue-color;
        }

        &:hover {
            &::after {
                opacity: 0;
            }
        }
    }
}

.points-modal {
    padding: 0;

    &__wrapper {
        @include flex(row, stretch, flex-start);
    }

    &__list {
        @include flex(column, stretch, flex-start);
        width: 250px;
        flex-shrink: 0;
    }

    &__map {
        flex: 1 1 auto;
        height: 535px;

        &-grid {
            width: 100%;
            height: 100%;
        }
    }

    &__header {
        margin: 0;
        padding: 15px 10px;
        background: $gray-color;
        font-size: 18px;
        @include font-weight('medium');
    }

    &__grid {
        width: 100%;
        padding: 25px 10px;
        flex: 1 1 auto;
        padding-top: 10px;
    }

    &__content {
        width: 100%;
        height: 100%;
        max-height: 450px;
        overflow-y: auto;

        & p {
            margin: 0;
            padding: 12px 10px;
            font-size: 15px;
            cursor: pointer;

            &:hover {
                background: $gray-color;
            }

            &:active {
                background: $gray-color;
            }

            &:focus {
                background: $gray-color;
            }
        }
    }
}

.add-to-fav {
    & svg {
        &:last-child {
            display: none;
        }
    }

    &_active {
        & svg {
            &:first-child {
                display: none;
            }

            &:last-child {
                display: block;
            }
        }
    }
}

.article {
    &__reading {
        margin-top: 40px;
    }
}

.carousel-info{
    position: absolute;
    bottom: 50px;
    left: 10%;
    @include flex( row, center, flex-start );
    z-index: 3;
    &__btn{
        width: 15px;
        height: 15px;
    }
    &__count{
        margin: 0 15px;
        font-size: 18px;
        & span{
            &:first-child{
                color: $primary-color;
                margin-right: 3px;
            }
            &:last-child{
                margin-left: 3px;
            }
        }
    }
}

.rules{
    @include flex( row, center, flex-end );
    &__link{
        font-size: 13px;
        color: rgba($white-color, .3);
        margin-right: 25px;
        &:last-child{
            margin-right: 0;
        }
    }
}

.privacy-checkbox{
    margin-top: 10px;
    &__name{
        font-size: 13px;
        & a{
            font-size: 13px;
            &::after{
                opacity: 1;
                background: $black-color;
            }
            &:hover{
                &::after{
                    background: $primary-color;
                }
            }
        }
    }
}

.table{
    border: 1px solid rgba($black-color, .08);
    & th{
        text-align: left;
        padding: 15px;
        font-size: 15px;
        @include font-weight( 'medium' );
        background: rgba($black-color, .05);
    }
    & td{
        text-align: left;
        padding: 15px;
        font-size: 15px;
        border-top: 1px solid rgba($black-color, .08);
        &:last-child{
            text-align: center;
            border-left: 1px solid rgba($black-color, .08);
        }
    }
    & tr{
        &:nth-child(2){
            & td{
                border-top-color: transparent;
            }
        }
    }
}

.payment-loader{
    padding: 80px 0;
    padding-bottom: 90px;
    @include flex( row, center, center );
    &__text{
        margin: 0;
        margin-left: 30px;
        font-size: 18px;
    }
    &_hidden{
        display: none;
    }
}

.payment-success{
    padding: 110px 0;
    padding-bottom: 80px;
    &__icon{
        display: block;
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
    }
    &__grid{
        padding: 0;
    }
    &__social{
        margin-top: 120px;
        &-title{
            text-align: center;
            margin-bottom: 30px;
        }
        &-item{
            @include flex( row, center, center );
            margin: 0;
            font-size: 16px;
            text-decoration: none;
            & svg{
                margin-right: 10px;
            }
        }
    }
    &__blog{
        margin-top: 120px;
        &-title{
            text-align: center;
            margin-bottom: 30px;
        }
    }
}