@media screen and (max-width: 1199px) {
    .header {
        &__logo {
            max-width: 130px;
        }
    }

    .menu {
        &__link {
            font-size: 14px;
        }

        &__item {
            margin-right: 30px;
        }
    }

    .slider {
        &__title {
            font-size: 45px;
        }
    }

    .personal {
        &__wrapper {
            padding: 50px 30px;
        }
    }
}

@media screen and (max-width: 991px) {
    .payment-success{
        &__social{
            &-item{
                margin-bottom: 10px;
            }
        }
    }
    .team {
        &__wrapper{
            background: none;
            border-radius: 0;
        }
        &__item {
            &-info{
                padding: 30px 0;
            }
            &-text{
                & p{
                    font-size: 16px;
                }
            }
            &-img {
                padding: 0;
                max-width: 250px;
                max-height: 250px;
                margin: 0 auto;

                &-wrapper {
                    &::after {
                        content: none;
                    }
                }

                & img {
                    max-width: 250px;
                    max-height: 250px;
                }
            }
        }
    }

    .carousel-info{
        position: relative;
        bottom: auto;
        left: auto;
        &__count{
            font-size: 16px;
        }
    }

    .search-btn {
        width: 18px;
        height: 18px;
    }

    .header {
        &__menu {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: -1;
            opacity: 0;
            visibility: hidden;
            transition: transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);
            transform: translateY(15px);
            @include flex(column, flex-start, flex-start);
            background: $white-color;
        }

        &__search-btn {
            margin-left: auto;
        }

        &__options {
            margin-left: 15px;
        }

        &__bottom {
            position: relative;
        }
    }

    .mobile-menu-btn {
        @include flex(row, center, center);
    }

    .menu {
        box-shadow: 7px 7px 10px 0 rgba(3, 3, 3, 0.1);
        overflow: hidden;

        &_opened {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
            z-index: 10;
            padding: 15px;
        }

        &__item {
            margin: 0;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .touchevents {
        & .sub-menu {
            position: static;
            display: none;
            padding: 0;

            &__name {
                font-size: 15px;
            }

            &__wrapper {
                padding: 15px 0;
                box-shadow: none;

                &_s {
                    @include flex(column, stretch, flex-start);
                }
            }

            &__col {
                width: 100%;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &_opened {
                opacity: 1;
                z-index: 3;
                visibility: visible;
                transform: translateY(0);
                @include flex(column, flex-start, flex-start);
            }
        }
    }

    .new {
        &__col {
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .why {
        &__item {
            padding: 0 15px;
        }
    }

    .footer {
        &__col {
            margin-top: 30px;
        }

        &__name {
            margin: 0;
            margin-bottom: 15px;
        }
    }

    .developer {
        margin-bottom: 10px;
    }

    .slider {
        &__btn {
            margin-top: 20px;
            height: 45px;
            font-size: 14px;
            line-height: 45px;
        }
        &__pagination {
            bottom: -20px;
            & .swiper-pagination-bullet{
                background: rgba( $black-color, .1 );
                &-active{
                    background: $primary-color;
                }
            }
        }
    }

    .modal a.close-modal {
        right: 0;
        left: auto;
    }

    .quick-modal {
        &__product {
            @include flex(column, stretch, flex-start);
        }

        &__col {
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }

    .product {
        &__info {
            padding-top: 30px;
        }
    }

    .template-404 {
        &__title {
            font-size: 150px;
        }
    }

    .team {
        &__col {
            margin-bottom: 20px;
        }
    }

    .form {
        &__row {
            &_s {
                height: 120px;
                margin-top: 10px;
            }
        }
    }

    .method {
        &__step {
            &-info {
                padding: 20px 0;
            }
        }
    }

    .personal-menu {
        margin-bottom: 30px;

        &__link {
            margin-right: 15px;
            margin-bottom: 5px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .history-page {
        &__table {
            overflow-x: auto;
            padding-bottom: 20px;
        }
    }

    .cart-form {
        &__row {
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__total {
            margin-top: 30px;
        }

        &__radio {
            display: block;
        }
    }

    .cart-table {
        overflow-x: auto;
        padding-bottom: 20px;

        & table {
            min-width: 900px;
        }
    }

    .share {
        display: none;
    }

    .custom-tabs {
        &__header {
            overflow-x: auto;
            padding-bottom: 10px;
        }
    }

    .thumbs {
        &__item {
            height: auto;
        }
    }

    @keyframes light {
        0% {
            opacity: .1;
        }

        50% {
            opacity: 1.0;
        }

        100% {
            opacity: .1;
        }
    }

    .cart {
        &__gesture-icon {
            display: block;
            animation: light 3s linear infinite;
        }
    }

    .tabs {
        padding-top: 45px;

        &__section {
            overflow-x: auto;
        }
    }
}

@media screen and (max-width: 767px) {
    .header {
        &__logo {
            max-width: 150px;
        }
    }

    .slider {
        &__title {
            font-size: 35px
        }
    }

    .basket-sidebar {
        &__title {
            font-size: 25px;
        }
    }

    .about {
        &__header {

        }
    }

    .blog {
        &__form {
            @include flex(column, flex-start, flex-start);

            &-reset {
                margin-left: 0;
                margin-top: 20px;
            }
        }

        &__radio {
            margin-bottom: 5px;
        }
    }

    .personal {
        &__wrapper {
            padding: 30px 20px;
        }
    }

    .product-desc {
        &__item {
            & p {
                &:first-child {
                    width: 50%;
                }

                &:last-child {
                    width: 50%;
                }
            }
        }
    }

    .points-modal {
        &__wrapper {
            @include flex(column, flex-start, flex-start);
        }

        &__list {
            width: 100%;
            height: 300px;
        }
    }

    .reading {
        &__header {
            @include flex(column, center, flex-start);
        }

        &__time {
            justify-content: center;
            margin-bottom: 5px;
        }

        &__btn {
            margin-left: 0;
        }

        &__status {
            margin-left: 0;
            text-align: center;

            &_active {
                @include flex(column, center, center);
            }
        }

        &__title {
            font-size: 20px;
        }

        &__grid {
            padding: 30px 15px;
        }
    }

    .tabs {
        padding-top: 80px;

        &__method {
            position: absolute;
            top: 35px;
            right: 0;
            margin: 0;
        }
    }

    .copyright {
        text-align: left;
        margin-bottom: 15px;
    }

    .rules {
        @include flex(row, center, flex-start);
    }
}

@media screen and (max-width: 575px) {
    .header {
        &__wrapper {
            width: 100%;
            padding: 0 15px;
            max-width: 100%;
        }

        &__logo {
            max-width: 100px;
        }
    }

    .slider {
        &__title {
            font-size: 18px;
        }

        &__text{
            font-size: 14px;
        }

        &__btn{
            display: block;
            font-size: 13px;
            height: 40px;
            line-height: 40px;
            margin-top: 10px;
            font-size: 12px;
        }
    }

    .section {
        padding: 40px 0;

        &__title {
            font-size: 25px;
        }
    }

    .why {
        &__name {
            font-size: 15px;
        }
    }

    .newsletter {
        &__title {
            & span {
                font-size: 20px;
                margin-top: 5px;
            }
        }

        &__btn {
            padding: 0 15px;
            max-width: 130px;
            text-align: center;
        }
    }

    .basket-sidebar {
        &__grid {
            width: 100%;
        }

        &__title {
            font-size: 20px;
        }
    }

    .search {
        &__form {
            @include flex(column, stretch, flex-start);
        }

        &__input {
            height: 45px;
            margin-bottom: 10px;
        }
    }

    .item {
        &__options {
            display: none;
        }
    }

    .default-modal {
        padding: 30px 20px;
    }

    .modal {
        width: 100%;

        &__title {
            font-size: 18px;
        }
    }

    .title {
        font-size: 25px;
    }

    .brew {
        &__item {
            height: 150px;
        }

        &__name {
            font-size: 18px;
        }
    }

    .contacts {
        &__map {
            height: 300px;
        }

        &__item {
            margin-bottom: 30px;
        }
    }

    .method {
        &__header {
            height: 300px;
        }
    }

    .text {

        & h2,
        h3 {
            font-size: 20px;
            margin: 0;
            @include font-weight('medium');
            margin: 20px 0;

            &:first-child {
                margin-top: 0;
            }
        }

        & h4,
        h5,
        h6 {
            font-size: 18px;
            margin: 0;
            @include font-weight('medium');
            margin: 18px 0;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .personal {
        &__wrapper {
            padding: 30px 15px;
        }
    }

    .tabs {
        padding-top: 90px;

        &__method {
            top: 50px;
            left: 0;
        }

        &__btn {
            font-size: 13px;
            padding: 15px;
            text-align: center;
            flex: 1 1 auto;
        }
    }

    .sort {
        &__name {
            font-size: 13px;
        }

        &__value {
            font-size: 13px;
        }
    }

    .filter {
        &__reset {
            margin-left: 0;
            font-size: 13px;
            margin-top: 5px;
        }
    }

    .filter-radio {
        &__name {
            font-size: 13px;
        }
    }

    .catalog {
        &__sort {
            @include flex(column, flex-start, flex-start);
            right: auto;
            left: 0;
        }
    }

    .rules {
        @include flex(column, flex-start, flex-start);

        &__link {
            margin: 0;
            margin-bottom: 5px;

            &:last-child {
                margin: 0;
            }
        }
    }
    .team{
        &-img {
            padding: 0;
            max-width: 200px;
            max-height: 200px;
            margin: 0 auto;

            &-wrapper {
                &::after {
                    content: none;
                }
            }

            & img {
                max-width: 200px;
                max-height: 200px;
            }
        }
        &__item{
            &-name{
                font-size: 20px;
            }
            &-text{
                & p{
                    font-size: 15px;
                }
            }
        }
    }
    .carousel-info{
        &__count{
            font-size: 15px;
        }
    }
    .table{
        & th{
            font-size: 14px;
        }
        & td{
            font-size: 14px;
        }
    }
    .success-order{
        &__grid{
            padding: 30px 0;
            & p.success-order__note{
                margin: 0;
                margin-top: 5px;
            }
            & > p{
                &:last-child{
                    margin-top: 15px;
                }
            }
        }
        &__payment-button{
            @include flex( column, flex-start, flex-start );
        }
        &__btn{
            width: 100%;
        }
    }
    .payment-loader{
        padding: 30px 0;
        @include flex( column, center, flex-start );
        &__text{
            margin: 0;
            margin-top: 30px;
            font-size: 15px;
        }
        &_hidden{
            display: none;
        }
    }
    .payment-success{
        padding: 30px 0;
        padding-bottom: 0;
        &__grid{
            margin: 0;
            padding: 0;
        }
        &__blog{
            margin-top: 50px;
            &-title{
                font-size: 20px;
            }
        }
        &__social{
            margin-top: 50px;
            &-title{
                font-size: 20px;
            }
            &-item{
                @include flex( row, center, flex-start );
                margin-bottom: 10px;
            }
        }
        &__icon{
            max-width: 150px;
            margin-top: 15px;
        }
    }
}
@media screen and ( min-width: 1200px ){
    .slider{
        &__arrow{
            @include flex( row, center, center );
        }
    }
}
@media screen and ( min-width: 1200px ) and ( max-width: 1350px ){
    .slider{
        &__arrow{
            &-prev{
                left: calc( ( 100% - 1170px ) / 2 - 10px );
            }
            &-next{
                right: calc( ( 100% - 1170px ) / 2 - 10px );
            }
        }
    }
}