.search{
    background: $white-color;
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateY(-20px);
    box-shadow: 0 3px 10px 0 rgba($black-color, .07);
    &_opened{
        z-index: 5;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    &__header{
        @include flex(row, center, flex-start);
        margin-bottom: 25px;
    }
    &__name{
        margin: 0;
        font-size: 13px;
    }
    &__close{
        margin-left: auto;
        & svg{
            & path{
                transition: all .2s linear;
            }
        }
        &:hover{
            & svg{
                & path{
                    fill: $primary-color;
                }
            }
        }
    }
    &__form{
        @include flex(row, stretch, flex-start);
    }
    &__input{
        flex: 1 1 auto;
        width: 100%;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 18px;
            height: 18px;
            margin-top: -9px;
            top: 50%;
            left: 20px;
            background: icon('icon-search.svg') no-repeat center center;
        }
        & input{
            width: 100%;
            height: 100%;
            background: $gray-color;
            padding-left: 50px;
        }
    }
    &__btn{
        flex-shrink: 0;
    }
}